body {
    background-color:rgb(240, 244, 245);
}

.number-button {
    margin: 0px;
    padding: 5px 10px;
    border: 0.1px solid rgb(209, 209, 209);
    border-radius: 3px;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 55px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 900;
}

.number-button:hover {
    background-color: rgb(245, 245, 245);
}

.number-button:active {
    color: rgb(123, 123, 123);
    background-color: rgb(235, 235,235);
}

.number-button img {
    width: 20%;
    height: 40%;
    padding-top: 20px;
}

#number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    height: 600px;
    width: 800px;
}

#input-number {
    font-size: 55px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 900;
}

#result-number {
    font-size: 55px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 200;
}