#layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -50px;
    height: 100vh;
    justify-content: space-between;
    font-family: sans-serif;
}

#numbers {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 40px;
    font-weight: 100;
}


select {
    width: 150px;
    padding: 5px;
    font-size: 15px;
    border: 0px solid rgb(100, 100, 100);
    text-align: left;
    
}

select:hover {
    background-color: rgb(250, 250, 250);
}

select option {
    border: 1px solid rgb(245, 245, 245);
    border-radius: 6px;
}

#switch-button {
    width: 40px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}

#switch-button:hover {
    background-color: rgb(249, 249, 249);
}

#switch-button:active {
    background-color: rgb(240, 240, 240);
}

#switch-button img {
    width: 100%;
    height: 100%;
}